@page "/"
@inject MegaWeb.Client.Services.Interfaces.IFuncaoService funcaoService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@using MegaWeb.Shared.Map

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>Relação de Funções</strong>
</div>

<p>
    <a href="/addfuncao" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">+ Adicionar</a>
</p>

@if (funcoes == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Data Cadastro</th>
                <th>Excluido</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var funcao in funcoes)
            {
                <tr>
                    <td>@funcao.Id</td>
                    <td>@funcao.Descricao</td>
                    <td>@funcao.Inserted</td>
                    <td>
                        <a href="/editfuncao/@funcao.Id" class="btn btn-info" role="button" aria-pressed="true">Editar</a>
                        <a href="#" class="btn btn-danger" role="button" aria-pressed="true" @onclick="async () => await Delete(funcao.Id)">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
    </nav>
}

@code{
    List<FuncaoDto> funcoes;
    FuncaoDto funcao = new FuncaoDto();

    protected override async Task OnInitializedAsync()
    {
        funcoes = await funcaoService.GetAll();
    }

    public async Task Delete(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Tem certeza que deseja deletar?");

        if (confirmed is false)
            return;

        var funcao = await funcaoService.GetById(id);

        await funcaoService.Delete(funcao.Id);

        funcoes = await funcaoService.GetAll();
        StateHasChanged();
    }
}